body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Button, input {
  border: none;
  padding: 10px 0;
  width: calc(100vw - 40px);
  background-color: royalblue;
  border-radius: 100px;
  color: white;
  font-size: 18px;
  font-family: ubuntu, Roboto, 'Courier New', Courier, monospace;
  margin: 0 15px;
}

input {
  background-color: white;
  border: 1px solid royalblue;
  color: royalblue;
  margin: 20px 15px;
  text-align: center;
}

input:focus, button:focus {
  outline: none;
}
